{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='preview.css') }}">

<div class="a4-page">

<div class="form-header">

<img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">

<div class="title">
<h1>INDIAN LEAGUE 4</h1>
<p>Goa & Pondicherry 2026</p>
<span>Official Player Registration Form</span>
</div>

{% if user.photo %}
<img src="{{ user.photo }}" class="photo">
{% endif %}

</div>

<hr>

<div class="form-body">

<div class="row"><label>First Name</label><span>{{ user.firstname }}</span></div>
<div class="row"><label>Middle Name</label><span>{{ user.middlename }}</span></div>
<div class="row"><label>Last Name</label><span>{{ user.lastname }}</span></div>
<div class="row"><label>Email</label><span>{{ user.email }}</span></div>
<div class="row"><label>Phone</label><span>{{ user.phone }}</span></div>
<div class="row"><label>DOB</label><span>{{ user.dob }}</span></div>
<div class="row"><label>Age</label><span>{{ user.age }}</span></div>
<div class="row"><label>State</label><span>{{ user.state }}</span></div>
<div class="row"><label>Sport</label><span>{{ user.sport }}</span></div>

</div>

<div class="rules">
<h3>Rules & Regulations</h3>
<ol>
<li>Please carry your Aadhaar card.</li>
<li>Selection for Cricket, Football, Kabaddi at state level.</li>
<li>Above age 30 bring fitness certificate.</li>
<li>Date and venue will be sent via email.</li>
<li>Follow official website for updates.</li>
</ol>
</div>

<div class="signature">
<div class="sign">
<img src="{{ url_for('static', filename='images/sign.jpeg') }}">
<p><b>Mr. Shakthi</b></p>
<span>President</span>
</div>
</div>

<div style="text-align:center; margin-top:20px;">
<h3>Application ID: {{ user.application_id }}</h3>
<a href="/download/{{ user.id }}" class="download">Download PDF</a>
</div>

</div>

{% endblock %}